* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input {
  width: 150px;
  height: 35px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: transparent;
}

.feed-switch input {
  width: 80px;
  height: 20px;
  background-color: rgba(255, 248, 220, 0);
}

/* input[type=button]{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
} */
.navmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: fixed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* Adds a transition effect when the padding is decreased */
  width: 100vw;
  z-index: 99;
  padding: 1rem;
  padding-bottom: 50px;
  top: 0;
  background-color: crimson;
  height: 150px;
  /* background-color: chocolate; */
  font-size: 1.25rem;
}

.feed-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  width: 100%;
  top: 150px;
  padding: 1rem;
  /* margin-bottom: 1rem; */
  /* column-gap: 1rem; */
}

.navbar-nav, .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-item {
  margin: 0 10px;
}

.navbar-toggle {
  display: none;
}

.snav-close-btn {
  display: none;
}

.navbar-sign {
  display: none;
  margin-left: auto;
}

.navbar-sign button {
  width: 110px;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo img {
  margin-right: 8px;
  width: 100px;
}

#logo a {
  text-align: center;
  font-size: 1.25rem;
}

#login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}

#login button {
  width: 150px;
  height: 35px;
  margin: 0;
  background: #880707;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#user-info {
  margin-left: auto;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: wheat;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: .5rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

#user-info a {
  text-align: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 120px 200px;
  /* background-color: chocolate; */
  /* width: 100%; */
  /* max-width: 100% !important;
    overflow-x: hidden !important;
    min-height: 900px; */
  margin-top: 150px;
  overflow: hidden;
  background-color: #2f00ff;
}
/*# sourceMappingURL=main.css.map */