* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: black;
  list-style-type: none;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body h1 {
  font-size: 2.8rem;
}

body h2 {
  font-size: 2.25rem;
}

body a {
  font-size: 16px;
}

input {
  width: 150px;
  height: 35px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: transparent;
}

.feed-switch input {
  width: 80px;
  height: 20px;
  background-color: rgba(255, 248, 220, 0);
}

/* input[type=button]{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
} */
.navmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: fixed;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* Adds a transition effect when the padding is decreased */
  width: 100vw;
  z-index: 99;
  padding: 1rem;
  padding-bottom: 50px;
  top: 0;
  background-color: white;
  height: 150px;
  /* background-color: chocolate; */
  font-size: 1.25rem;
}

.feed-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  width: 100%;
  top: 150px;
  padding: 1rem;
  /* margin-bottom: 1rem; */
  /* column-gap: 1rem; */
}

.navbar-nav, .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-item {
  margin: 0 10px;
}

.navbar-toggle {
  display: none;
}

.snav-close-btn {
  display: none;
}

.navbar-sign {
  display: none;
  margin-left: auto;
}

.navbar-sign button {
  width: 110px;
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo img {
  margin-right: 8px;
  width: 100px;
}

#logo a {
  text-align: center;
  font-size: 1.25rem;
}

#login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
}

#login button {
  width: 150px;
  height: 35px;
  margin: 0;
  background: #880707;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#user-info {
  margin-left: auto;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: .5rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

#user-info a {
  text-align: center;
}

#content {
  padding: 10rem 1rem;
}

#reservation {
  text-align: center;
  padding: 1rem;
}

#reservation input {
  margin: .5rem;
}

#side-menu {
  padding: 1rem;
}

.footer {
  position: relative;
  background-color: #afafaf;
  height: 100%;
  width: 100vw;
  margin-top: auto;
  bottom: 0;
}

.footer .logo {
  width: 100px;
}

.footer .icons {
  width: 1rem;
}

.footer #contact-details {
  padding: 1rem;
  width: 100%;
}

.footer li img {
  margin: 0 1rem;
  vertical-align: middle;
  text-align: center;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.article {
  margin: 2rem 0;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.article-content {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  text-align: left;
  padding: 0 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.article-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 300px;
}

.parallax {
  background-image: url("https://i.ibb.co/4pMt427/image.png");
  margin: 1rem 0rem;
  padding: 0em;
  overflow: visible;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.round-img {
  border-radius: 50%;
  max-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem;
}

.flex-equal > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.readmore {
  margin: 1rem 0;
  background: white;
  border-radius: 15px;
}

.readmore:hover {
  background: #D7D7D7;
}
/*# sourceMappingURL=main.css.map */